* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #0f172a, #1e293b);
}

.login-container {
    background: #1e293b;
    padding: 40px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 10px;
}

.login-container p {
    color: #94a3b8;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #334155;
    color: white;
    font-size: 15px;
}

input::placeholder {
    color: #94a3b8;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #22c55e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #16a34a;
}
/* Dashboard */

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background: #111827;
    padding: 30px 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #cbd5e1;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #1e293b;
    color: white;
}

.content {
    flex: 1;
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    background: #1e293b;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

.card h2 {
    font-size: 36px;
    color: #22c55e;
}

.card p {
    margin-top: 10px;
    color: #94a3b8;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.topbar h1 {
    font-size: 34px;
}

.topbar p {
    color: #94a3b8;
    margin-top: 6px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #111827;
    padding: 12px 20px;
    border-radius: 12px;
}

.status {
    width: 10px;
    height: 10px;
    background: #22c55e;
    border-radius: 50%;
}
.sidebar a.active {
    background: #2563eb;
    color: white;
    font-weight: 600;
}
